# ignore node modules and vendor 
node_modules
vendor
# ignore node_modules\.vite\deps  y todos los archivos dentro
node_modules\.vite\deps\**\*
node_modules\.vite\deps
#public-hot
public/hot
# vs code 
.vscode
.env